/.gitignore
/.deps/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/conststrings.c
/contrib/Makefile
/contrib/Makefile.in
/depcomp
/doc/.deps/
/doc/Makefile
/doc/Makefile.in
/doc/Muttrc
/doc/advancedusage.html
/doc/configuration.html
/doc/gettingstarted.html
/doc/index.html
/doc/instdoc
/doc/instdoc.sh
/doc/intro.html
/doc/makedoc
/doc/manual.html
/doc/manual.txt
/doc/manual.xml
/doc/mimesupport.html
/doc/miscellany.html
/doc/mutt.1
/doc/muttrc.man
/doc/optionalfeatures.html
/doc/pgpewrap.1
/doc/pgpring.1
/doc/reference.html
/doc/security.html
/doc/smime_keys.1
/doc/stamp-doc-chunked
/doc/stamp-doc-rc
/doc/stamp-doc-xml
/doc/tuning.html
/flea
/hcachever.sh
/hcversion.h
/imap/.deps/
/imap/Makefile
/imap/Makefile.in
/install-sh
/intl/Makefile
/keymap_defs.h
/m4/Makefile
/m4/Makefile.in
/missing
/mutt
/*.pkg.tar.xz
/*.pkg.tar.xz.sig
/mutt_md5
/muttbug.sh
/patchlist.c
/pkg/
/po/Makefile
/po/Makefile.in
/po/POTFILES
/po/bg.gmo
/po/ca.gmo
/po/cs.gmo
/po/da.gmo
/po/de.gmo
/po/el.gmo
/po/eo.gmo
/po/es.gmo
/po/et.gmo
/po/eu.gmo
/po/fr.gmo
/po/ga.gmo
/po/gl.gmo
/po/hu.gmo
/po/id.gmo
/po/it.gmo
/po/ja.gmo
/po/ko.gmo
/po/lt.gmo
/po/nl.gmo
/po/pl.gmo
/po/pt_BR.gmo
/po/ru.gmo
/po/sk.gmo
/po/sv.gmo
/po/tr.gmo
/po/uk.gmo
/po/zh_CN.gmo
/po/zh_TW.gmo
/reldate.h
/stamp-h1
/txt2c
